.rsvp {
    background-color: #fbdad9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 4px;
    text-align: center;
    h1 {
        font-size: 36px;
        margin: 10px 0;

        text-align: center;
        display: block;
    }
    p {
        margin: 20px 0px;
        font-size: 18px;
    }
    button {
        font-size: 24px;
        border-radius: 4px;
        color: #fff;
        background-color: #f44336;
        opacity: 0.6;
        border: none;
        display: inline-block;
        padding: 15px 60px;
        &:hover {
            background-color: $buttonHoverbgColor;
            color: #000;
            cursor: pointer;
        }
    }
}
